:root {
  /*------------------------------Colors------------------------------*/
  --main-color: #f04d27;
  --main-sec-color: #f2913a;
  --main-dk-color: #201f25;
  --main-wh-color: #fefeff;
}

/*------------------------------ALL------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  /*------------------------------Fonts------------------------------*/
  font-family: "Josefin Sans", sans-serif;
  font-family: "Josefin Slab", serif;
  font-family: "Yeseva One", serif;
}
/*------------------------------Hs------------------------------*/
h1 {
  font-family: "Josefin Slab", serif;
  font-size: 72pt;
}

h2 {
  font-size: 48pt;
}

h3 {
  font-size: 36pt;
}

h4 {
  font-size: 28pt;
}

p {
  font-family: "Yeseva One", serif;
}
/*------------------------------Corpo------------------------------*/
body {
  min-height: 100vh;
  background-color: var(--main-dk-color);
}

/*------------------------------Section------------------------------*/
section {
  margin: auto;
  width: 100%;
  height: 90vh;
  padding: 0;
  text-align: center;
  background-color: var(--main-wh-color);
}
/*------------------------------Menu de Navegação------------------------------*/
.top-banner {
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  height: 3rem;
}
.social-banner {
  display: inline-flex;
  margin-left: -6rem;
}

.social-banner a:hover,
i:hover a {
  background-color: var(--main-wh-color);
  border-radius: 4rem;
  color: var(--main-color);
  padding: 0.1rem;
  -webkit-box-shadow: 0px 0px 13px 1px rgba(254, 254, 255, 1);
  -moz-box-shadow: 0px 0px 13px 1px rgba(254, 254, 255, 1);
  box-shadow: 0px 0px 13px 1px rgba(254, 254, 255, 1);
}

.top-banner a {
  margin-left: 1rem;
}

.top-banner p {
  color: var(--main-wh-color);
  margin-left: 20rem;
}

.top-banner i {
  font-size: 1.3em;
  color: var(--main-color);
  word-spacing: 2rem;
  padding: 0.15rem;
}

.top-banner-r {
  background-color: var(--main-color);
  margin-left: 45rem;
  color: var(--main-wh-color);
}

.top-banner-r i {
  font-size: 1rem;
  margin-right: 1rem;
  padding: 0.15rem 0.15rem;
}

.top-banner a {
  font-size: 1rem;
  color: var(--main-wh-color);
}

.top-banner-r a:hover,
i {
  background-color: var(--main-wh-color);
  border-radius: 4rem;
  color: var(--main-color);
  padding: 0.5rem;
}

.bar {
  margin-left: 1rem;
  display: inline-flex;
  color: var(--main-wh-color);
  height: 1.5rem;
  width: 0.1rem;
}

/*------------------------------Menu de Navegação------------------------------*/
header {
  background-color: var(--main-wh-color);
  left: 0;
  width: 100%;
  display: inline-flex;
  align-items: center;
  text-align: justify;
  z-index: 6;
  transition: 0.2s;
}

.logo img {
  height: 6rem;
  margin-left: 12rem;
}

.navbar a {
  font-size: 1.2rem;
  color: var(--main-dk-color);
  background-color: var(--main-wh-color);
  font-weight: 500;
  padding-left: 10rem;
}

.navbar a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 1rem;
  background: var(--main-color);
  transition: 0.3s;
}

.navbar a:hover::before {
  width: 100%;
}

.search {
  font-size: 12pt;
}

#sticky-nav {
  font-size: 1rem;
  z-index: 1;
}

#sticky-nav a {
  margin-left: 13rem;
}

.sbox {
  width: 50rem;
  height: 2rem;
  background-color: var(--main-wh-color);
  border-radius: 2rem;
  display: flex;
  align-items: center;
  padding: 1rem;
}

.sbox i {
  font-size: 1.7rem;
  color: var(--main-dk-color);
}

.sbox button {
  border: none;
  outline: none;
  margin: 1rem;
}

.sbox > input {
  flex: 1;
  height: 2rem;
  width: 1rem;
  outline: black;
  font-size: 1.2rem;
  padding-left: 1rem;
}

/*------------------------------Sticky effect------------------------------*/

/*------------------------------Hero Banner------------------------------*/
.hero-banner {
  background-image: url(/assets/home/home-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  height: 70vh;
}

.hero {
  color: var(--main-wh-color);
  z-index: 5;
  padding-bottom: 6rem;
}

.hero-banner img {
  opacity: 100%;
}

.hero-banner h1 {
  color: var(--main-wh-color);
  font-family: "Josefin Sans", serif;
  font-size: 8rem;
}

.hero-banner h3 {
  color: var(--main-wh-color);
  font-family: "Josefin Slab", serif;
  font-size: 5rem;
  font-weight: 300;
}

.hero-banner a {
  border-style: solid;
  border-radius: 2rem;
  border-color: var(--main-sec-color);
  background-color: transparent;
  border-radius: 8rem;
  color: var(--main-sec-color);
  font-size: 2rem;
  padding: 2rem;
  font-family: "Josefin Sans", serif;
}

.hero-banner a:hover {
  color: var(--main-color);
  border-color: var(--main-color);
  box-shadow: 0px 0px 5px 5px var(--main-color);
}

.hero .btn {
  margin-top: 6rem;
}

/*------------------------------Mini-Hero Banner------------------------------*/
.mini-hero {
  height: 45vh;
  display: flex;
}

.mini-banner {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-dk-color);
  padding: 0;
  height: 50vh;
}

.mini-banner img {
  object-fit: cover;
  display: block;
  width: 50vw;
  height: 50vh;
  padding: 0;
  margin: 0;
}

.img-card {
  background-color: var(--main-dk-color);
  object-fit: fill;
  opacity: 30%;
}
.mini-banner a {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-radius: 2rem;
  border-color: var(--main-sec-color);
  background-color: transparent;
  border-radius: 8rem;
  color: var(--main-sec-color);
  font-size: 2rem;
  padding: 2rem;

  z-index: 3;
}

.mini-banner a:hover {
  box-shadow: 0px 0px 5px 5px var(--main-color);
}

/*------------------------------Loja de acessórios------------------------------*/
.title-section {
  padding-top: 1rem;
  background-color: var(--main-sec-color);
}

.product-conteiner {
  height: auto;
}

.product-conteiner table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 6rem;
}
.product-conteiner img {
  height: 12rem;
  border: 2px solid var(--main-dk-color);
  margin: 0.3rem;
  border-radius: 2rem;
}

.product-conteiner td:hover {
  transform: scale(1.2);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(240, 77, 39, 0.74);
  -moz-box-shadow: 0px 0px 10px 0px rgba(240, 77, 39, 0.74);
  box-shadow: 0px 0px 10px 0px rgba(240, 77, 39, 0.74);
}

.product-conteiner td {
  -webkit-box-shadow: 10px 10px 21px -1px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 10px 10px 21px -1px rgba(0, 0, 0, 0.17);
  box-shadow: 10px 10px 21px -1px rgba(0, 0, 0, 0.17);
  border-radius: 40px;
  padding-bottom: 1rem;
  transition: transform 0.3s ease-in-out;
}

.product-conteiner h2 {
  margin-top: 2rem;
  margin-bottom: 1.2rem;
  font-size: 2rem;
}

.product-conteiner p {
  margin-top: 0.2rem;
  margin-bottom: 2rem;
}

.product-conteiner a {
  border-style: solid;
  border-color: var(--main-sec-color);
  background-color: transparent;
  border-radius: 4rem;
  color: var(--main-sec-color);
  font-size: 1.2rem;
  padding: 0.5rem;
}

.product-conteiner a:hover {
  color: var(--main-color);
  border-color: var(--main-color);
  box-shadow: 0px 0px 5px 5px var(--main-color);
}

.acessorios {
  margin-bottom: 3rem;
  transition: transform 0.3s ease-in-out;
}

/*------------------------------Text Banner------------------------------*/
.text-banner {
  display: inline-block;
  background-color: #f04d27;
  color: var(--main-wh-color);
  height: 50vh;
}

.text {
  margin-left: 10rem;
}

.text h2 {
  text-align: left;
  font-size: 2rem;
  margin-top: 8rem;
  margin-left: 4rem;
}

.text p {
  text-align: justify;
  font-size: 1.5rem;
  margin-right: 50rem;
  margin-left: 4rem;
  margin-top: 2rem;
  padding-right: 10rem;
}

.text a {
  position: relative;
  padding-top: 100rem;
  border-style: solid;
  background-color: transparent;
  border-radius: 4rem;
  color: var(--main-wh-color);
  font-size: 1.2rem;
  padding: 1rem;
  margin-left: 40vw;
  box-shadow: 0rem 0rem 0rem 0.1rem var(--main-wh-color);
}

.text a:hover {
  color: var(--main-color);
  background-color: var(--main-wh-color);
}

.btn {
  margin-top: -6%;
}

/*------------------------------Text Banner------------------------------*/
.footer {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer-conteiner {
  max-width: 100vw;
  background-color: var(--main-wh-color);
  margin-left: 10rem;
  margin-right: 3rem;
  margin-bottom: 4rem;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
}

.footer ul {
  list-style: none;
}

.footer {
  background-color: var(--main-wh-color);
  padding: 4rem;
}

.footer-col {
  width: 16%;
  padding: 0rem;
  justify-content: center;
}

.footer-col p {
  margin-top: 2rem;
  font-family: "Josefin Sans", sans-serif;
}

.footer-col h4 {
  font-size: 1.1rem;
  color: var(--main-dk-color);
  text-transform: capitalize;
  margin-bottom: 1rem;
  font-weight: 500;
  position: relative;
  background-color: var(--main-wh-color);
  column-span: all;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1rem;
  background-color: var(--main-color);
  height: 0.1rem;
  box-sizing: border-box;
  width: 2rem;
}

.footer-col ul li {
  margin-left: -1rem;
  display: block;
  float: left;
  clear: left;
}

.footer-col ul li::not(:last-child) {
  margin-bottom: 2rem;
}

.footer-col ul li a {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
  color: var(--main-dk-color);
  display: block;
  text-align: left;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: var(--main-wh-color);
  padding-left: 0.8rem;
}

.footer-col input {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  border-radius: 4rem;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.footer-social i {
  color: var(--main-color);
  font-size: 2rem;
  display: inline-block;
}

.footer-r {
  display: flex;
}

#footer-filamentos {
  column-count: 2;
  column-width: 2em;
  column-fill: balance;
}

.footer-end {
  border-top-style: inset;
  border-color: var(--main-dk-color);
  border-width: 0.1rem;
  margin-left: 9rem;
  margin-right: 5rem;
}

.footer-social {
  float: right;
}

.footer-social i {
  font-size: 1.2rem;
}

.copyrights {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 900;
  font-size: 1.4rem;
  margin-top: 2rem;
}

.copyrights span {
  color: var(--main-color);
}

/*---------------------------------------Drop Down Stylization--------------------------------------------*/

.header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  z-index: 6;
}

li {
  float: left;
}

li a,
.dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
  background-color: var(--main-color);
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: var(--main-color);
}

.dropdown:hover .dropdown-content {
  display: block;
}
